.top {
	height: 700px;
	background-color: black;
	transition: 0.8s;
}
.top:hover {
	height: 900px;
}
.logo {
	margin-left: 600px;
	margin-top: 200px;
}
.logo:hover{
	transform: scale(1.08);
}
.title {
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: normal;
	font-family: arial;
	letter-spacing: 5px;
}
.info {
	height: 880px;
	padding-top: 20px;
}
.middle {
	height: 350px;
	padding-top: 50px;

}
.skidki {
	height: 350px;
	padding-top: 50px;
}
.menu {
	height: 700px;
}
.block {
	height: 400px;
	width: 1300px;
	margin-bottom: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.parent {
	width: 1300px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
}
.content {
	width: 400px;
	height: 300px;
	margin-right: 50px;
}
.block_mini {
	width: 600px;
	height: 400px;
	margin-right: 50px;
}
.block_mini:hover {

}
.eda {
	width: 600px;
	height: 400px;
}
.eda:hover {
	transform: scale(1.08);
}
body {
	font-family: myfont;	
}
.text_info{
	font-weight: normal;
	font-size: 25px;
	color: black;
	letter-spacing: 3px;
}
.text_info:hover {
	transform: scale(1.001);
	transition: 1.5s;

}
.h2_info{
	color: black;
	font-size: 30px;
	font-weight: bold;
	font-family: myfont;
	letter-spacing: 5px;
}
.letterspacing {
	letter-spacing: 0px;
}
.ttt {
	line-height: 3;
}
@font-face {
	font-family: myfont;
	src: url(myfont.ttf);
}
.margin_left{
	margin-left: 650px;
}
